
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*using percentage, we can use VH, ther are the same*/


header{
/*gap is the gap in the flex diplay*/
    height: 75px;
    width:100%;
    color: yellowgreen;
    background: teal;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding-right: 30px;
    border-bottom: 5px solid ;
    }

  .searchContainer{
        text-align:center;
        height: 100% - 70px;

    }
    .searchBar{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
        

    }

.searchBar input[type="text"]{
    padding:5px 15px;
    line-height:normal;
    font: 1em sans-serif;
    border-color: black;

}

.btn{
    padding: 5px 10px;
    margin-left: 10px;;
    background: rgb(46, 216, 210);
    border-radius: 5px;
    user-select: none;
    font-size: 15px;
    border:10px;
    cursor:grab;

}

.clear-btn{
    padding: 5px 10px;
    margin-left: 10px;;
    background: red;
    color:white;
    border-radius: 5px;
    user-select: none;
    font-size: 15px;
    border:10px;
    cursor:pointer;

}
.btn:hover {
    background: lightskyblue;
    border-color: blueviolet;
    color:azure;

}


#favorites{

    display:list-item;
    float: left;

    
    
}



footer{
    font-size: smaller;
    
    
}


/* 
    JS DYNAMIC ELEMENTS STYLE
*/

.recipe {
    width: 800px;
}

/* Style for the whole box of the recipe. */

.container {
    width:95%;
}

.recipeBox{
    display:flex;
    flex-direction:column;
}

#btmClear{
    align-self:center;
    justify-self:center;
}

.recipeFlexBox{
    display:flex;
    flex-direction:row;
    width:100%;
    padding:10px;
    justify-content:center;
}

.column1{
    display:flex;
    flex-direction:column;
    margin:10px;
    padding:10px;
}

.column2{
    display:flex;
    flex-direction:column;
    margin:10px;
    padding:10px;
}

.container2{
    display:flex;
    flex-direction:column;
    width: 100%;
    margin: 30px auto;
    background-color: rgba(43, 43, 43, 0.767);
    border-radius: 15px;
    padding: 30px;
    margin: 30 auto;
}

.minorRow {
    padding: 0;
    display:flex;
    width: 100%;
    border-radius: 15px;
    margin: 30 auto;
    align-items:center;
}


/*styling  for boxes*/
.info-placer{
    width:75%;
    height:250px;
    padding: 30px;
    display:flex;
    align-items:center;
}

/* Style for the H3 inside the box, which is for the recipe title. */
.info-placer h3 {
    /*changed font size @KrystaGonzalez*/
    font-size: 25px;
    height:fit-content;
    width:200px;
    margin:0 0 0 30px;
    padding-left:30px;
    text-align: center;
    
    /* border-left: 2px solid rgb(75, 153, 51); */
    color: rgb(255, 255, 255);
}

/* Style for the IMG of the container. */
.info-placer img {
    border: 2px solid rgb(75, 153, 51);
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 15px;
    padding: 10px;
    margin: 0;
    /*ajusted img size smaller to make container smaller-KrystaGonzalez*/
    width:150px;
    height:150px;
    padding-right:30px;
}

.imgContainer{
    padding:10px 30px;
    margin-right:15px;
    border-right: 2px solid rgb(75, 153, 51);
}



/* Style for the article sections */
.recipe-details0, .recipe-details1, .recipe-details2 ,.recipe-details3, .recipe-details4
,.recipe-details5, .recipe-details6, .recipe-details7, .recipe-details8, .recipe-details9 {
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(75, 153, 51);
    border-radius: 15px;
    padding: 30px;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: 15px;
    /*set display to none to hide ingredients and link-KrystaGonzalez*/
    display:none;
    margin-bottom:20px;
}

.recipe-details section {
    background-color: rgba(60, 255, 0, 0.089);
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 20px;
    
} 

/* Style for the ingredients text, previewsly created on JS. */
.ingredients {
    color: rgb(240, 255, 255);
}

.show-button0, .show-button1, .show-button2, .show-button3, .show-button4,
.show-button5, .show-button6, .show-button7, .show-button8 ,.show-button9 {
    color: rgb(255, 255, 255);
    background-color: rgba(60, 255, 0, 0.089);
    border: none;
    border-radius: 30px;
    height: 100px;
    padding: 30px;
    margin-left: 30px;
}

.show-button0:hover, .show-button1:hover, .show-button2:hover, .show-button3:hover, .show-button4:hover,
.show-button5:hover, .show-button6:hover, .show-button7:hover, .show-button8:hover, .show-button9:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    background-color: white;
    transition: all 400ms;
}

.fav-button0, .fav-button1, .fav-button2, .fav-button3, .fav-button4, .fav-button5,
.fav-button6, .fav-button7, .fav-button8, .fav-button9 {
    color: rgb(255, 255, 255);
    background-color: rgba(60, 255, 0, 0.089);
    border: none;
    border-radius: 30px;
    height: 100px;
    padding: 30px;
    width:50%;
    align-self:center;
}


.fav-button0:hover, .fav-button1:hover, .fav-button2:hover, .fav-button3:hover, .fav-button4:hover,
.fav-button5:hover, .fav-button6:hover, .fav-button7:hover, .fav-button8:hover, .fav-button9:hover {
    transform: scale(1.04);
    cursor: pointer;
    color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    background-color: white;
    transition: all 400ms;
}



/*styling for google api map*/
#map {
    width:900px;
    height:500px;
    box-shadow: 0 4px 8px 0 black;
}

.mapBox{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:10px;
    padding:5px;
   
}

.mapBox button{
    font-size:20px;
    margin-top:15px;
    padding:5px;
}

/* footer styling */
footer{
    padding:15px;
    display:flex;
    flex-direction:row;
    width:100%;
    height:fit-content;
    background-color:teal;
    border-top:5px solid yellowgreen;
}

.footerStarter{
    position:fixed;
    bottom:0;
}

.footerStarterAfterSearch{
    display:flex;
    flex-direction:row;
}

footer h5 {
    margin:0 0 5px 0;
}

.footerRepo, .footerApi{
    display:flex;
    flex-direction:column;
    color:white;
    width:fit-content;
    height:fit-content;
    justify-self:center;
    margin-left:100px;
}