
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*using percentage, we can use VH, ther are the same*/


header{
/*gap is the gap in the flex diplay*/
    height: 75px;
    width:100%;
    color: yellowgreen;
    background: teal;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding-right: 30px;
    border-bottom: 5px solid ;
    }

  .searchContainer{
        text-align:center;
        height: 100% - 70px;

    }
    .searchBar{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
        

    }

.searchBar input[type="text"]{
    padding:5px 15px;
    line-height:normal;
    font: 1em sans-serif;
    border-color: black;

}

.btn{
    padding: 5px 10px;
    margin-left: 10px;;
    background: rgb(46, 216, 210);
    opacity: .7;
    border-radius: 5px;
    user-select: none;
    font-size: 15px;
    border:10px;
    cursor:grab;

}

     .clear-btn{
     padding: 5px 10px;
    margin-left: 10px;;
    background: red;
    opacity: .5;
    border-radius: 5px;
    user-select: none;
    font-size: 15px;
    border:10px;
    cursor:grab;

}
.btn:hover {
    background: lightskyblue;
    border-color: blueviolet;
    color:azure;

}


#favorites{

    display:list-item;
    float: left;

    
    
}



footer{
    font-size: smaller;
    
    
}


/* 
    JS DYNAMIC ELEMENTS STYLE
*/

/* Style for the whole box of the recipe. */
.container2 {
    padding: 0;
    display:flex;
    width: 75%;
    gap: 30px;
    margin: 30px 0;
    background-color: rgba(102, 51, 153, 0.555);
    border-radius: 15px;
    padding: 30px;
    
}


/*styling  for boxes*/
.info-placer{
    width:75%;
    height:250px;
    display:flex;
    flex-direction: row;
}

/* Style for the H3 inside the box, which is for the recipe title. */
.info-placer h3 {
    /*changed font size @KrystaGonzalez*/
    font-size: 25px;
    height:50px;
    width:300px;
    margin: 20px auto;
    margin-left:15%;
    margin-top:10%;
    text-align: center;
    padding-top: 10px;
    border-top: 2px solid rgb(37, 139, 171);
    color: brown;
}

/* Style for the IMG of the container. */
.info-placer img {
    border: 2px solid rebeccapurple;
    border-radius: 15px;
    padding: 20px;
    margin: 0;
    margin-top: 45px;
    /*ajusted img size smaller to make container smaller-KrystaGonzalez*/
    width:150px;
    height:150px;

}

#recipe-container{
    display:inline-table;
    
}

/* Style for the article sections */
.recipe-details {
    
    justify-content: center;
    align-items: center;
    border: 2px solid rebeccapurple;
    border-radius: 15px;
    padding: 30px;
    width: 370px;
    flex-direction: column;
    /*set display to none to hide ingredients and link-KrystaGonzalez*/
    display:none;
}

.recipe-details section {
    background-color: rgba(0, 255, 255, 0.24);
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 20px;
    
} 

/* Style for the ingredients text, previewsly created on JS. */
.ingredients {
    color: aliceblue;
}
